// Table of Content
// ===============================================
// # Variables
// # Elements */

// # Variables
// =============================================== */
// No local variables available

// # Elements
// =============================================== */

.process {
	position: relative;
	padding-top: 48px;
	padding-bottom: 110px;
	@include background-image(pat, png, center bottom, repeat-x);
	@include max-screen($breakpoint-desktop){
		padding-bottom: 70px;
	}
	@include max-screen($breakpoint-phone){
		padding-top: 30px;
		padding-bottom: 30px;
	}

	.svg {
		position: absolute;
		left: 0;
		top: 0;
		z-index: -2;
	}

	&__title {
		@include display(h3);
		max-width: 550px;
		margin-bottom: 5px;
		@include max-screen($breakpoint-phone){
			margin-bottom: 20px;
		}
	}

	&__list {
		display: flex;
		flex-wrap: wrap;
		margin-right: -70px;
		padding-left: 190px;
		@include max-screen($breakpoint-desktop){
			padding-left: 0;
			margin-right: 0;
		}
	}

	&__list-item {
		width: 33.3%;
		padding: 0 20px;
		@include max-screen($breakpoint-tablet){
			padding: 0 10px;
		}
		@include max-screen($breakpoint-phone){
			width: 100%;
			padding: 0;
			margin-bottom: 30px;
		}

		&:nth-child(1),
		&:nth-child(3) {
			z-index: 2;
			position: relative;
			padding-top: 130px;
			@include max-screen($breakpoint-desktop){
				padding-top: 125px;
			}
			@include max-screen($breakpoint-tablet){
				padding-top: 76px;
			}
			@include max-screen($breakpoint-phone){
				padding-top: 0;
			}
		}

		&:nth-child(1) {
			.card-process {
				&:before {
					content: '';
					display: block;
					position: absolute;
					right: 155px;
					height: 20px;
					top: 90px;
					left: -700px;
					background: linear-gradient(90deg, $color-info-light, darken($color-info, 8%));
					@include max-screen($breakpoint-tablet){
						height: 11px;
						top: 94px;
					}
					@include max-screen($breakpoint-phone){
						display: none;
					}
				}
			}
		}

		&:nth-child(2) {
			.card-process {
				&:after,
				&:before {
					z-index: -1;
					content: '';
					display: block;
					position: absolute;
					top: 89px;
					width: 250px;
					height: 152px;
					right: 155px;
					@include background-image(process-line2, svg, center top, no-repeat, 100%);
					@include max-screen($breakpoint-tablet){
						width: 145px;
						height: 92px;
						right: 200px;
						top: 94px;
					}
					@include max-screen($breakpoint-phone){
						display: none;
					}
				}

				&:after {
					right: auto;
					left: 180px;
					@include background-image(process-line3, svg, center top, no-repeat, 100%);
					@include max-screen($breakpoint-tablet){
						left: 200px;
					}
				}
			}
		}

		&:nth-child(3) {
			.card-process {
				&:after {
					z-index: -1;
					content: '';
					display: block;
					position: absolute;
					left: 155px;
					height: 20px;
					top: 90px;
					right: -700px;
					background: linear-gradient(90deg, $color-purple-alt, darken($color-purple-alt, 8%));
					@include max-screen($breakpoint-tablet){
						height: 11px;
						top: 94px;
					}
					@include max-screen($breakpoint-phone){
						display: none;
					}
				}
			}
		}
	}
}
